# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.

# ESPHome build artifacts
/.esphome/
build/

# Secrets - DO NOT COMMIT
secrets.yaml

# macOS junk
.DS_Store

# Local backups / variants
*.bac
*.back
*.8sensors
